@use "../../common/variables" as *;
@use "../../common/mixins" as *;

.hero-section {
  width: 100%;
  height: 70rem; // 히어로 영역 높이 설정
  position: relative;

  @include respond-md {
    height: 60rem;
  }

  .hero-swiper {
    width: 100%;
    height: 100%;

    // Swiper 페이지네이션(점) 커스텀 스타일
    .swiper-pagination-bullet {
      background: #fff;
      opacity: 0.5;
      width: 1rem;
      height: 1rem;
      transition: all 0.3s;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      width: 3rem; // 활성화된 점은 길게
      border-radius: 0.5rem;
      background-color: #fff;
    }
    
    // 페이지네이션 위치 조정 (검색창 위로 올라오지 않게)
    .swiper-pagination {
      bottom: 20rem !important; 
      text-align: left;
      padding-left: calc(50% - 64rem + 2rem); // 컨테이너 내부 라인에 맞춤 (1280px 기준)
      
      @include respond-md {
        bottom: 25rem !important;
        padding-left: 2rem;
        text-align: center;
      }
    }
  }
}