@use "../../common/variables" as *;
@use "../../common/mixins" as *;

.home-page {
  width: 100%;
  min-height: 100vh;
  
  /* 각 섹션들 사이의 간격을 일정하게 유지 */
  > section, 
  > div {
    margin-bottom: 8rem;

    @include respond-md {
      margin-bottom: 6rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  /* HeroSection과 SearchWrap 사이의 간격 조정 */
  /* HeroSearchWrap이 히어로 이미지에 살짝 겹치게 디자인된 경우 (선택 사항) */
  .hero-section {
    margin-bottom: 0; // 히어로 섹션 마진 제거
  }

  /* HeroSearchWrap (컨테이너)을 히어로 이미지 위로 끌어올리기 */
  /* 구조상 HeroSection 바로 다음에 오는 div를 타겟팅 */
  .hero-section + div {
    position: relative;
    z-index: 10;
    margin-top: -6rem; // 히어로 이미지 하단에 걸치도록 위로 이동
    
    @include respond-md {
      margin-top: -3rem; // 모바일에서는 조금 덜 올림
    }
  }
}